.page {
    position: absolute;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.1);
    z-index: 0;
    outline: 1px solid rgba(0,0,0,0.3);
    background-color: white;

    transform-origin: top left;
    overflow: hidden;
}

.page.preload {
    box-shadow: none;
    outline: none;
    opacity: 0.3;
}

.page.selected {
    z-index: 1;
    outline: 3px solid rgba(133,191,253,1.0);
}

.page-mask {
    position: absolute;
    overflow: hidden;
}

.page-root {
    position: absolute;
}

.number {
    margin-top: 6px; //8px;
    color: #555;
    opacity: 1.0
}
.number.selected {
    color: #3a98fc; //#85bffd;
    opacity: 1.0
}

