* {
    margin: 0;
    padding: 0;
    user-select: none;

    caret-color: black;
}

html {
    width: 100%;
    height: 100%;
    //min-height: 100%;
    overflow: hidden;
    position:fixed;
}

body {
    width: 100%;
    height: 100%;
    
    min-height: 100%;
    overflow: auto;
    
    font-family: verdana;
    font-size: 14px;

    position: fixed;
}

/**
 * ToolBar
 */

#toolbar {
    width: 100%;
    
    height: 36px;
    line-height: 36px;
    border: 0px solid black;
    border-bottom: 1px solid #aaa;
    background-color: white; //#f6f6f6;
    user-select: none;
    text-align: center;
}

/**
 * SideBar
 */

#sidebar-header {
    width: 100%;
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #aaa;
    background-color: #f6f6f6;
    user-select: none;
    font-size: 0px;
}

#sidebar-header .img-button { margin: 0px 2px; }
#sidebar-header .separator { margin: 2px 4px; }
#sidebar-header .img-button.locked,
#sidebar-header .img-button:hover,
#sidebar-header .img-button:active {
    background: rgba(0,0,0,0);
}

#sidebar-dropdown { width: 150px; }

#sidebar-menu .ui-menu-item,
#sidebar-menu .ui-widget-content { background-color: #f6f6f6 !important; }

#sidebar-container {
    position: absolute;
    width: 100%;
    height:calc(100% - 29px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.page-view {
    background-color: #f6f6f6;
    font-size: 14px;

    width: 2000px;
    height: 2000px;

//  user-select: text;
}

.text-view {
    background-color: #f6f6f6;
    font-size: 14px;

    position: absolute;
    min-width: 100%;
    min-height: 100%;

//  user-select: text;
}

/**
 * Main
 */

#main {
    position: absolute;
    top: 37px;
    width: 100%;
    height: calc(100% - 37px);
    overflow: hidden;
    background-color: #7a7b7e; //#f0f0f0;
}

.split-pane {
    background: #a3a3a3;
}

#left-component {
    width: 200px;
    -webkit-overflow-scrolling: touch;
}
#divider {
    left: 200px;       /* Same as left component initial width */
    width: 1px;
}
#right-component {
//  background-color: #7a7b7e; //#f0f0f0;
    left: 200px;       /* Same as left component initial width */
    margin-left: 1px;  /* Same as divider width */
    -webkit-overflow-scrolling: touch;
}

.sidebar {
    min-width: 100%;
    min-height: 100%;
}

.main-view {
    font-size: 14px;
    
    position: absolute;

    min-width: 100%;
    min-height: 100%;
}
 
/*
.view {
    position: absolute;
}

.view-frame {
    position: absolute;
//  border: 1px solid blue;
    border-bottom: 1px solid rgba(0,0,0,0.01)
    pointer-events: none;
}
*/

.page {
    position: absolute;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.2);
    z-index: 0
}

.page.selected {
    z-index: 1;
    outline: 3px solid rgba(133,191,253,1.0);
}

.page-mask {
    position: absolute;
    overflow: hidden;
}

.page-root {
    position: absolute;
}

.number {
    margin-top: 6px; //8px;
    color: #555;
    opacity: 1.0
}
.number.selected {
    color: #3a98fc; //#85bffd;
    opacity: 1.0
}

.project {
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}

.texts {
}

.text {
//  position: absolute;
    min-width: 1em;
    min-height: 1em;
    white-space: nowrap;
    cursor: default;
    outline: 1px solid #eee; //85bffd;
    background: rgba(255,255,255,0)
    z-index: 1000;
    color: #bf0058;
}

.text * {
    user-select: element;
}

.text.selected {
    border: none;
    outline: 1px solid #3a98fc; //#3a98fc;
    background: rgba(133,191,253,0.5); //rgba(58,152,252,1.0);
}

.text.editable {
//  outline: 2px solid #3a98fc; //orange; //#ff0084;
//  box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.2);
    outline: none;
    box-shadow: 0px 0px 0px 0.3em white,
                0px 0px 0px calc(0.3em + 2px) #3a98fc;
                //3px 3px 5px 0.4em rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.9);
}

.text-node {
    position: absolute;
//  border: 1px solid red; //background: rgba(255,255,0.5)
}

.selection {
    position: absolute;
    z-index: 2000;
}

canvas {
    position: absolute;
//  imageRendering: pixelated;
}

canvas .scratch {
    z-index :100;
}

.wand {
    position: absolute;
    background-color: rgba(133,191,253,0.5);
    z-index: 10;
}

form {
    line-height: 200%;
}

form td:first-child {
    padding-right: 20px;
    white-space: nowrap;
}

form input {
    padding: 2px;
    border: 1px solid #ccc;
}

form input[type=button] {
    font-size: 12px;
    border-radius: 2px;
    padding: 1px 5px;
}

form option {
    font-size: 12px;
}

form input[type=radio] {
    margin-right: 5px;
}

form label,
form input {
    margin-right: 10px;
}

form .name    { width: 250px; text-overflow: ellipsis;}
form .dir     { width: 250px; text-overflow: ellipsis; margin-right:2px; border:none;}
form .tmpl    { width: 250px; }
form .tmpl2   { width: 350px; }
form .ref     { padding: 5px; }
form .key     { width: 30px; }
form .regexp { width: 100px; }
form .count   { width: 30px; }
form .count2  { width: 30px; border: none; text-overflow: ellipsis;}
form .extract { width: 500px; height: 450px; }
form .preview { width: 500px; height: 150px; } /* 350px */

.preview2 {
    width: 500px; height: 250px;
    color: #555;
    background-color: white;
    border: 1px solid #aaa;
    margin-left: 5px;

    overflow: auto;
    overflow-y: scroll;
}

.preview2 div {
    padding: 2px;
}

.preview2 hr {
    border: 0;
    border-top: 1px dashed #ccc;
    width: 100%;
    height: 0px;
//  background-color: #aaa;
}

/**
 * jQuery ui
 *
 */

.dialog {
    /*
    position: fixed; 
    top: 50% !important;
    left: 50% !important; 
    margin-top: -0px !important;
    margin-left: -0px !important;
   */
    
    margin-top: 1em;
    font-size: 14px;
}

.dialog-message {
    text-align: right;
    margin-top: 14px;
    margin-right: 14px;
    min-height: 24px;
}

/* 
   May break html menu, but seems good so far..
.ui-button {
    min-height: 36px;
    vertical-align: middle;
}
*/

.ui-dialog {
//  box-shadow: 0px 15px 25px 0px rgba(50, 50, 50, 0.7);
//  box-shadow: 0px 5px 25px rgba(50, 50, 50, 0.7);  
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-widget-overlay {
    opacity: 0.01 !important;
//  opacity: 0.5 !important;
//  filter: Alpha(Opacity=50) !important;
//  background-color: black !important;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.ui-menu .ui-menu-item {
    margin:0;
    padding:0;
    width: 100%;
}

.ui-menu {
    text-align: left;
    width: 150px;
}

#file-dropdown .ui-menu {
    width: 320px !important;
}

span .ui-icon {
    display: none;
}

.ui-menu > li {
    font-size: 13px;
}

.ui-menu > li > div {
    position: relative;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.ui-menu .ui-widget {
    border: 1px solid #aaa;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);

    width: 320px;
}

.ui-menu-item-wrapper {
    padding-left: 2em !important;
    position: absolute;
}


.ui-menu div.check { position:absolute; left:5px; }
.ui-menu div.label { text-align:left; float: left; }
.ui-menu div.key   { text-align: right; margin-right: -8px; font-size: 13px; }

/*
.ui-menu-item > .ui-state-active {
    background-color: #e8eaed !important;
    color: black !important;
    border: 1px solid rgba(0,0,0,0.05) !important;
    border-left: 1px solid rgba(0,0,0,0.2) !important;
    border-right: 1px solid rgba(0,0,0,0.2) !important;
}
*/

#menu {
    background-color: #f6f6f6;
}

#tablet-curve-container {
    position: relative;
    left: 40px;
}

#tablet-curve-container > div,canvas {
    position: absolute;
}

#tablet-curve-center {
}

.control-point {
    position: relative;
    background-color: rgba(0, 0, 0, 0.001);

    width: 30px;
    height: 30px;
}

.control-point div {
    position: absolute;
    left: 13px;
    top: 13px;
    width: 4px;
    height: 4px;
    border: 1px solid black;
    background-color: white;
}

/**
 * Widget
 */

.img-button {
//  margin: 6px 4px; ////6px; // 4px;
    margin: 4px 2px;
    background-position: 0% 0%;
    opacity: 1.0;

    width: 28px;
    height: 28px;
    border-radius: 14px;
    background: rgba(0,0,0,0);
    transition: 0.5s;

    user-select: none;
    -moz-user-select: none;
}

.img-button img {
    pointer-events: none;
    margin: 3px 2px;

}

.img-button:hover {
    background: rgba(0,0,0,0.05);
}

.img-button:active {
    background: rgba(0,0,0,0.05);
}

.img-button.locked {
    background: rgba(0,0,0,0.14);
}

.img-button.off,
.img-button.off:hover,
.img-button.off:active {
    background: rgba(0,0,0,0);
}

.img-button.off img {
    opacity: 0.3;
}

.separator {
    background-color: #ccc;
    width: 1px;
    height: 24px;
    margin: 6px 4px;
}

.separator.left { float: left; }
.separator.right { float: right; }

.text-button {
    padding: 0px 10px 0 10px;
    font-size: 12px;
    float: left;
    background-color: #f6f6f6;
}

.text-button.locked {
    box-shadow: 0 -2px 0 rgba(4,169,244,1) inset;
}

.text-button:hover { background-color: #eaeaea; }
.text-button.locked:hover { background-color: #f6f6f6; }
.text-button.right { float: right; }

.clipboard {
    width: 14px;
    height: 14px;
    border: none;
    margin: 6px 4px;
    margin-top: 12px;
    background-color: #f6f6f6;
}

#save-indicator {
    position: absolute;
    left: 0px;
    bottom: 0px; //7px;
    z-index: 3000;
    opacity: 0.8; //0.4
    pointer-events: none;
}


/**
 * Dropdown Button 
 */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
//.dropbtn:hover, .dropbtn:focus {
//    background-color: #3e8e41;
//}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 33px;
    background-color: white; //#f6f6f6; 
                                                       
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.dropdown-form {
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-form-separator {
    color: #ccc;
    width: 1px;
    height: 32px;
}

:focus {
    outline-color: rgb(59, 153, 252)
}

