.dialog {
    margin-top: 1em;
//  font-size: 14px;
}

.dialog-message {
    text-align: right;
    margin-top: 1em;
    margin-right: 1em;
    min-height: 24px;
}

.message-box {
    display: table;
}

.message-box img {
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
}
.message-box p {
    display: table-cell;
    vertical-align: middle;
}

button.ui-button.ui-widget {
    min-height: 36px;
}

.ui-selectmenu-button {
    background-color: white !important;
    min-height: 20px;
}

.ui-dialog {
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
}

.ui-dialog-buttonset {
    width: calc(100% - 15px);
}
.ui-dialog-buttonpane button {
    float: right;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-widget-overlay {
    opacity: 0.01 !important;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

