form {
    line-height: 200%;
}

form td:first-child {
    padding-right: 20px;
    white-space: nowrap;
}

form input {
    padding: 2px;
    border: 1px solid #ccc;
    margin-right: 10px;

    &.filename {
        font-size: 14px;
        padding-left: 5px;
        height: 26px;
        width: 200px;
        margin-bottom: 5px;
    }
}

form input[type=button] {
    font-size: 12px;
    border-radius: 2px;
    padding: 1px 5px;
}

form option {
    font-size: 12px;
}

form input[type=radio] {
    margin-right: 5px;
}

form label {
    margin-right: 10px;
}

form .name    { width: 250px; text-overflow: ellipsis;}
form .dir     { width: 250px; text-overflow: ellipsis; margin-right:2px; border:none;}
form .tmpl    { width: 250px; }
form .tmpl2   { width: 350px; }
form .ref     { padding: 5px; }
form .key     { width: 30px; }
form .regexp { width: 100px; }
form .count   { width: 30px; }
form .count2  { width: 30px; border: none; text-overflow: ellipsis;}
form .extract { width: 500px; height: 450px; }
form .preview { width: 500px; height: 150px; } /* 350px */

